{
  "read_only": true,
  "permissions": [
#    "streams:read",
    "sidecar_collectors:read",
    "fieldnames:read",
    "system:read",
    "sidecar_collector_configurations:read",
    "sidecars:read",
    "clusterconfigentry:read",
    "decorators:read",
    "stream_outputs:read",
    "buffers:read",
    "sources:read",
    "indexercluster:read",
    "system:read",
    "jvmstats:read",
    "inputs:read"
  ],
  "name": "sre_read_access",
  "description": "sre read access"
}
