{
  "password": "{{ sys_admin_junior_password }}",
  "session_timeout_ms": "1000000",
  "permissions": [
    "indexercluster:read",
    "messagecount:read",
    "journal:read",
    "inputs:read",
    "metrics:read",
    "processing:read",
    "savedsearches:read",
    "fieldnames:read",
    "buffers:read",
    "system:read",
    "savedsearches:read",
    "jvmstats:read",
    "throughput:read",
    "savedsearches:read",
    "messages:read"
  ],
  "timezone": "Europe/Moscow",
  "roles": [
    "syslogs_read_access"
  ],
  "last_name": "Martin",
  "first_name": "Lokhid",
  "email": "l.martin@local.host",
  "username": "sys_admin_junior"
}
