{
  "password": "{{ web_admin_password }}",
  "session_timeout_ms": "1000000",
  "permissions": [
    "indexercluster:read",
    "messagecount:read",
    "journal:read",
    "inputs:read",
    "metrics:read",
    "processing:read",
    "savedsearches:read",
    "fieldnames:read",
    "buffers:read",
    "system:read",
    "savedsearches:read",
    "jvmstats:read",
    "throughput:read",
    "savedsearches:read",
    "messages:read",
    "messages:analyze"
  ],
  "timezone": "Europe/Moscow",
  "roles": [
    "weblogs_full_access"
  ],
  "last_name": "Hamelton",
  "first_name": "Luis",
  "email": "l.hamelton@local.host",
  "username": "web_admin"
}
